body {
    /*Ensures enough padding on left to prevent overlap with nav bar*/
    margin-left: 180px;
    font-family: Tahoma, arial;
}

/*Style for the navbar on left side of window*/
nav {
    position: fixed;
    width: 180px;
    min-height: 100%;
    background-color: grey;
    color: white;
    top: 0;
    left: 0;
    z-index: 10;
}

nav #logo {
    width: 50%;
    padding-left: 25%;
    padding-top: 5%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    font-family: Tahoma, arial;
    font-size: 200%;
    padding-left: 0;
}

nav ul li {
    margin-top: 10%;
    border-color: grey;
    
}

nav ul li a {
    display: block;
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 85%;
    text-decoration: none;
    color: white;

}

.active {
    background-color: lightgreen
}

nav ul li a:hover {
    background-color: green;
}
/* End of Nav Bar */

/*Style for create task form*/
#createForm {
    position: fixed;
    left:40vw;
    bottom: 100%;
    text-align: center;
    z-index: 20;
}

form {
    text-align: left;
    padding: 20px;
    background-color: rgba(100,100,100, 0.8);
}
#createForm form#createTask input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#createForm button#displayCreate {
    position: absolute;
    left: 0px;
    width: 100%;
}


/*Style for share category form*/
#shareForm {
    position: fixed;
    right: 10vw;
    text-align: center;
    z-index: 19;
    bottom: 100%;
}

#shareForm form#createTask input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#shareForm button#displayShare {
    position: absolute;
    left: 0px;
    width: 100%;
}